body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: #940606;
}

.big {
  font-size: 20px;
  text-align: center;
}

.bigger {
  font-size: 30px;
  text-align: center;
}

.biggest {
  font-size: 40px;
  text-align: center;
}